* {
  margin: 0;
  padding: 0;
}

.casa {
  width: 79px;
  height: 79px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tabuleiro {
  width: 680px;
  height: 649px;
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  width: 960px;
  height: 960px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
